@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

body {
  align-items: center;
  background: linear-gradient(45deg, #8e44ad, #2980b9);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif; /* smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide */
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  line-height: 1;
  min-height: 100vh;
  text-align: center;
  text-transform: uppercase;
}

#icon {
  max-width: 5%;
  margin-top: 20px;
}

h1 {
  font-size: 40px;
  margin-top: -10px;
}
h2 {
  font-size: 20px;
  letter-spacing: .05em;
}

h3 {
  font-size: 12px;
  letter-spacing: .07em;
  margin-top: -15px;
}

p {
  font-size: 10px;
  letter-spacing: .1em;
  line-height: 1.5em;
}

#cycleName {
  margin-top: 40px;
  font-size: 8px;
}

#footer {
    max-width: 70%;
    margin: auto;
    margin-bottom: 100px;
  }

@media (min-width: 768px) {
  h1 {
    font-size: 80px;
    margin-top: -10px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: .05em;
  }

  h3 {
    font-size: 22px;
    letter-spacing: .07em;
    margin-top: -30px;
  }

  p {
    font-size: 14px;
    letter-spacing: .1em;
  }

  #cycleName {
  margin-top: 0px;
  font-size: 10px;
  }

}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

#container {
  position: relative;
}

#alarmButton {
  margin-top: -100px;
  margin-bottom: 40px;
}

button,
input {
  box-sizing: border-box;
  color: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
}
button { cursor: pointer; }
input {
  border: 1px solid #ddd;
  padding: 8px;
}
input:focus {
  border-color: magenta;
  outline: none;
}





